{% extends "base.html" %}
{% load static %}

{% block title %}
  <!-- Формируется из локации и даты -->
  <title>{{ posts.location }} {{ posts.date }}</title>
{% endblock %}

{% block content %}
  <article>
    <ul>
      <li>
        Место: {{ posts.location }}              
      </li>
      <li>
        Дата: {{ posts.date }}
      </li>
      <li>
        Категория: <a href="{% url 'blog:category_posts' posts.category %}">{{ posts.category }}</a>
      </li>
    </ul>         
    <p>
      {{ posts.text }}
    </p>          
  </article>                
{% endblock %}